
* {
    margin: 0;
   
}

nav {
    background-color: rgb(248, 244, 217);
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;

}
nav span {
    display: flex;
    list-style: none;
}

nav ul a {
  
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-weight: bold;
    padding: 0 15px;
}

nav ul a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    background-color: rgba(100, 100, 100, 0.705);
    border-radius: 4px;
    padding: 3px 15px;
    
}

nav img {
    max-width: 103px;

}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.cuidados{
    font-family: 'Manrope', sans-serif;
    font-size: 45px;
    text-align: center;
}

.cuidados_texto{
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 23px;
    margin-left: 3%;
}
main h1 {
    font-family: 'Rubik Marker Hatch', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

main h1 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 20px;
}

/*Módulo adopción*/

.contenidos{
    padding: 5px;
}
.titulos{
    font-weight: 600;
    text-decoration-line: underline;
    font-size: 50px;
    text-decoration-color: rgba(216, 135, 81, 0.685);
    color: rgb(255, 229, 191);
    text-align: center;
  padding: 30px 

}
  
.galeriap{
    font-size: 40px;
    font-weight: 600;
    text-decoration: rgb(255, 243, 138);
    text-decoration-line: underline ;
    text-align: center;
}

.galeriadiv{
    display: flex;
    padding: 10px 180px 10px 180px;

}
img{
    width: 100%;
}
.galeriasubdiv{
    flex: 25%;
    padding: 5px;
}
.galeriasubdiv img{
    margin-top: 5px;
}
@media (max-width: 800px){
    .galeriasubdiv{
        flex: 50%;
    }
}
@media (max-width: 600px){
    .galeriasubdiv{
        flex: 100%;
    }
}



.ag-format-container {
    width: 70%;
    margin: 0 auto;
  }
  
  
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
    
  }
  .ag-courses_item:hover span{
    color: #ffffff;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    box-shadow: 0px 20px 50px #D9DBDF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #ffffff;
  text-decoration: none;
    overflow: hidden;
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #000000fd;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #fcdba3;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #bbeec6;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #f0aa91;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #d9baf8;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #f8b6de;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #bdbcf7;
  }
  .ag-courses_item:nth-child(7n) .ag-courses-item_bg {
    background-color: #dc9fff;
  } 
  .ag-courses_item:nth-child(8n) .ag-courses-item_bg {
    background-color: #fdff98;
  }
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 66%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
  }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  


  
.container121{
  display: flex;
  justify-content: center;
  padding: 80px;
}

.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  width: 360px;
	height: 380px;
	background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  padding: 0px 30px 0px 30px;
  margin: 0px 80px 0px 80px;
}

.mask{
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
  width: 390px;
}
.hh11{
  margin: auto;
  text-align: left;
  margin-top: 240px;
  padding-left: 30px;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

/*POR QUÉ TENER UN GATITO EN CASA*/

.info_principal{
  padding: 20px;
}
/*TARJETAS DE INICIO*/


#carousel-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #menu {
    height: 380px;
    width: 720px;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;

    #current-option {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translate(-25%, 0%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(255, 245, 199);
      overflow: hidden;

      #current-option-text1 {
        font-size: 1.6rem;
        line-height: 3rem;
        width: 220px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;
        padding: 6px;
        background: rgba(245, 230, 182, 0.986);

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          border-radius: 5px;
          padding: 6px;
          background: rgba(245, 230, 182, 0.986);
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          border-radius: 5px;
          padding: 6px;
          background: rgba(245, 230, 182, 0.986);
        }
      }

      #current-option-text2 {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        border-radius: 5px;
        padding: 6px;
        

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          border-radius: 5px;
          padding: 6px;
          
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          border-radius: 5px;
          padding: 6px;
        }
      }
    }

    #previous-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, 50px);
    }

    #next-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, -50px) rotate(180deg);
    }
  }

  #image {
    height: 240px;
    width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    position: absolute;
    transform: translate(140px, 0);
  }

  &.anim-next {
    pointer-events: none;

    #current-option-text1 {
      animation: next-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: next-text 0.65s 0.085s;
    }

    #previous-option {
      animation: next-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: next-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: next-image 0.65s 0.085s;
    }
  }

  &.anim-previous {
    pointer-events: none;

    #current-option-text1 {
      animation: previous-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: previous-text 0.65s 0.085s;
    }

    #previous-option {
      animation: previous-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: previous-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: previous-image 0.65s 0.085s;
    }
  }
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}

@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}

@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}

@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

/*TARJETAS DE INICIO*/

.info_principal{
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

/*TARJETAS*/
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article h2 {
  margin: 0 0 18px 0;
  font-family: 'Manrope', sans-serif;
  font-size: 25px;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

article p{
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
}

figure {
  margin: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article1 {
  padding: 24px;
}
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
  container: card/inline-size;
  }
  .article-body p {
  display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 16px;
  }
  .article-body {
  padding-left: 0;
  }
  figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  figure img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}









/*FOOTER*/

footer {
  background-color:rgb(248, 244, 217);
  color: #000000;
  padding: 40px 0;
}

.footer-content {
  max-width: 1200px;
  max-height: 70px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo img {
  margin-top:-30px;
  max-width: 120px;
}



.footer-links a:hover {
  color: #f5a623;
}

.footer-contact p {
  margin: 0;
}

/* Estilos para el footer inferior */
.footer-bottom {
  background-color: rgb(236, 232, 204);
  text-align: center;
  padding: 20px 0;
}

.footer-bottom p {
  margin: 0;
}